<!DOCTYPE html>
<html ng-app='angular'>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>BookSwitch</title>

    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel= "stylesheet" type="text/css" />
</head>

<body ng-controller="index">

    <!--<script src="jquery-3.1.1.min.js"></script>-->
    <div id="header">
        <div id='headerTitle' float='center'>
            <h1>BookSwitch</h1>
        </div>
    </div>

    <div id="help">{{message}}</div>

    <div id="content">
        <div id="user-input">
            <label for='fUpload'> select files: </label>
            <input type="file" id="fUpload" onchange="angular.element(this).scope().validateFiles()" multiple accept=".json"><br>
            <!--<input ng-model="upload" type="button" id="upload" name="upload" value="Upload><br><br>-->
            <button id="create-index" name="create-index" ng-click="createBookIndex()">Create Index</button><br>
        </div>
        <div id='selectBooks'>
            <label>Select Book:</label>
            <select id="bookList" ng-options="file as file.name for file in allFiles track by $index" ng-model="selectedFile">
             </select>
            <span>
            Search words:<input type="search" id="search" name="search" file-model = "myFile" value="e.g. Alice...">
            <input id="button" type="button" name="create-index" value="Go">
          </span>
        </div>
    </div>
    <div id='result'>
        <div id="user-output">
            <table>
                <tr>
                    <th>
                        Words
                    </th>
                    <th>
                        Sample
                    </th>
                    <th>
                        sample2
                    </th>
                </tr>
                <tr>
                    <td>
                        Example 1
                    </td>
                    <td>
                        Example 2
                    </td>
                    <td>
                        Example 3
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="footer">Copyright &copy; FAM.com</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
    <script src="js/inverted.js"></script>
    <script src="js/indexController.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

</body>

</html>